/// hinge-top animation
/// @name hinge-top
/// @group animations
/// @require {animation} fade-in
@keyframes hinge-top {
  from {
    transform: perspective(2000px) rotateX(-90deg);
    transform-origin: top;
  }

  to {
    transform: perspective(2000px) rotate(0deg);
    transform-origin: top;
  }
}

/// hinge-top mixin
/// @name hinge-top
/// @group animations
/// @parameter {Time} $speedInSeconds [.35s] - The speed you want the animation to run in.
/// @require {animation} fade-in
/// @example
///    @include hinge-top();
///    @include hinge-top(2s);
///
///    // You can even add the class to an element or toggle it with JavaScript.
///    .hinge-top
@mixin hinge-top($speed-in-seconds: .35s) {
  animation-duration: $speed-in-seconds;
  animation-name: fade-in, hinge-top;
  animation-timing-function: ease-in;
}

.hinge-top {
  @include hinge-top();
}

/// hinge-bottom animation
/// @name hinge-bottom
/// @group animations
/// @require {animation} fade-in
@keyframes hinge-bottom {
  from {
    transform: perspective(2000px) rotateX(90deg);
    transform-origin: bottom;
  }

  to {
    transform: perspective(2000px) rotate(0deg);
    transform-origin: bottom;
  }
}

/// hinge-bottom mixin
/// @name hinge-bottom
/// @group animations
/// @parameter {Time} $speedInSeconds [.35s] - The speed you want the animation to run in.
/// @require {animation} fade-in
/// @example
///    @include hinge-bottom();
///    @include hinge-bottom(2s);
///
///    // You can even add the class to an element or toggle it with JavaScript.
///    .hinge-bottom
@mixin hinge-bottom($speed-in-seconds: .35s) {
  animation-duration: $speed-in-seconds;
  animation-name: fade-in, hinge-bottom;
  animation-timing-function: ease-in;
}

.hinge-bottom {
  @include hinge-bottom();
}


/// hinge-right animation
/// @name hinge-right
/// @group animations
/// @require {animation} fade-in
@keyframes hinge-right {
  from {
    transform: perspective(2000px) rotateY(90deg);
    transform-origin: right;
  }

  to {
    transform: perspective(2000px) rotate(0deg);
    transform-origin: right;
  }
}

/// hinge-right mixin
/// @name hinge-right
/// @group animations
/// @parameter {Time} $speedInSeconds [.35s] - The speed you want the animation to run in.
/// @require {animation} fade-in
/// @example
///    @include hinge-right();
///    @include hinge-right(2s);
///
///    // You can even add the class to an element or toggle it with JavaScript.
///    .hinge-right
@mixin hinge-right($speed-in-seconds: .35s) {
  animation-duration: $speed-in-seconds;
  animation-name: fade-in, hinge-right;
  animation-timing-function: ease-in;
}

.hinge-right {
  @include hinge-right();
}

/// hinge-left animation
/// @name hinge-left
/// @group animations
/// @require {animation} fade-in
@keyframes hinge-left {
  from {
    transform: perspective(2000px) rotateY(-90deg);
    transform-origin: left;
  }

  to {
    transform: perspective(2000px) rotate(0deg);
    transform-origin: left;
  }
}

/// hinge-left mixin
/// @name hinge-left
/// @group animations
/// @parameter {Time} $speedInSeconds [.35s] - The speed you want the animation to run in.
/// @require {animation} fade-in
/// @example
///    @include hinge-left();
///    @include hinge-left(2s);
///
///    // You can even add the class to an element or toggle it with JavaScript.
///    .hinge-left
@mixin hinge-left($speed-in-seconds: .35s) {
  animation-duration: $speed-in-seconds;
  animation-name: fade-in, hinge-left;
  animation-timing-function: ease-in;
}

.hinge-left {
  @include hinge-left();
}


/// hinge-middle-bottom animation
/// @name hinge-middle-left
/// @group animations
/// @require {animation} fade-in
@keyframes hinge-middle-bottom {
  from {
    transform: perspective(2000px) rotateX(-90deg);
    transform-origin: center;
  }

  to {
    transform: perspective(2000px) rotate(0deg);
    transform-origin: center;
  }
}

/// hinge-middle-bottom mixin
/// @name hinge-middle-bottom
/// @group animations
/// @parameter {Time} $speedInSeconds [.35s] - The speed you want the animation to run in.
/// @require {animation} fade-in
/// @example
///    @include hinge-middle-bottom();
///    @include hinge-middle-bottom(2s);
///
///    // You can even add the class to an element or toggle it with JavaScript.
///    .hinge-middle-left
@mixin hinge-middle-bottom($speed-in-seconds: .35s) {
  animation-duration: $speed-in-seconds;
  animation-name: fade-in, hinge-middle-bottom;
  animation-timing-function: ease-in;
}

.hinge-middle-bottom {
  @include hinge-middle-bottom();
}


/// hinge-middle-top animation
/// @name hinge-middle-top
/// @group animations
/// @require {animation} fade-in
@keyframes hinge-middle-top {
  from {
    transform: perspective(2000px) rotateX(90deg);
    transform-origin: center;
  }

  to {
    transform: perspective(2000px) rotate(0deg);
    transform-origin: center;
  }
}

/// hinge-middle-top mixin
/// @name hinge-middle-top
/// @group animations
/// @parameter {Time} $speedInSeconds [.35s] - The speed you want the animation to run in.
/// @require {animation} fade-in
/// @example
///    @include hinge-middle-top();
///    @include hinge-middle-top(2s);
///
///    // You can even add the class to an element or toggle it with JavaScript.
///    .hinge-middle-x-top
@mixin hinge-middle-top($speed-in-seconds: .35s) {
  animation-duration: $speed-in-seconds;
  animation-name: fade-in, hinge-middle-top;
  animation-timing-function: ease-in;
}

.hinge-middle-top {
  @include hinge-middle-top();
}


/// hinge-middle-left animation
/// @name hinge-middle-left
/// @group animations
/// @require {animation} fade-in
@keyframes hinge-middle-left {
  from {
    transform: perspective(2000px) rotateY(-90deg);
    transform-origin: center;
  }

  to {
    transform: perspective(2000px) rotate(0deg);
    transform-origin: center;
  }
}

/// hinge-middle-left mixin
/// @name hinge-middle-left
/// @group animations
/// @parameter {Time} $speedInSeconds [.35s] - The speed you want the animation to run in.
/// @require {animation} fade-in
/// @example
///    @include hinge-middle-left();
///    @include hinge-middle-left(2s);
///
///    // You can even add the class to an element or toggle it with JavaScript.
///    .hinge-middle-left
@mixin hinge-middle-left($speed-in-seconds: .35s) {
  animation-duration: $speed-in-seconds;
  animation-name: fade-in, hinge-middle-left;
  animation-timing-function: ease-in;
}

.hinge-middle-left {
  @include hinge-middle-left();
}



/// hinge-middle-right animation
/// @name hinge-middle-right
/// @group animations
/// @require {animation} fade-in
@keyframes hinge-middle-right {
  from {
    transform: perspective(2000px) rotateY(90deg);
    transform-origin: center;
  }

  to {
    transform: perspective(2000px) rotate(0deg);
    transform-origin: center;
  }
}

/// hinge-middle-right mixin
/// @name hinge-middle-right
/// @group animations
/// @parameter {Time} $speedInSeconds [.35s] - The speed you want the animation to run in.
/// @require {animation} fade-in
/// @example
///    @include hinge-middle-right();
///    @include hinge-middle-right(2s);
///
///    // You can even add the class to an element or toggle it with JavaScript.
///    .hinge-middle-right
@mixin hinge-middle-right($speed-in-seconds: .35s) {
  animation-duration: $speed-in-seconds;
  animation-name: fade-in, hinge-middle-right;
  animation-timing-function: ease-in;
}

.hinge-middle-right {
  @include hinge-middle-right();
}
