/// spin-cw animation
/// @name spin-cw
/// @group animations
@keyframes spin-cw {
  from {
    transform: rotate(0deg);
    transform-origin: center center;
  }

  to {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}

/// spin-cw mixin
/// @name spin-cw
/// @group animations
/// @parameter {Time} $speedInSeconds [.35s] - The speed you want the animation to run in.
/// @example
///    @include spin-cw();
///    @include spin-cw(2s);
///
///    // You can even add the class to an element or toggle it with JavaScript.
///    .hinge-top
@mixin spin-cw($speed-in-seconds: .35s) {
  animation-duration: $speed-in-seconds;
  animation-name: spin-cw;
  animation-timing-function: ease-in;
  will-change: transform;
}

.spin-cw {
  @include spin-cw();
}

/// spin-ccw animation
/// @name spin-ccw
/// @group animations
@keyframes spin-ccw {
  from {
    transform: rotate(0deg);
    transform-origin: center center;
  }

  to {
    transform: rotate(-360deg);
    transform-origin: center center;
  }
}

/// spin-ccw mixin
/// @name spin-ccw
/// @group animations
/// @parameter {Time} $speedInSeconds [.35s] - The speed you want the animation to run in.
/// @example
///    @include spin-ccw();
///    @include spin-ccw(2s);
///
///    // You can even add the class to an element or toggle it with JavaScript.
///    .hinge-top
@mixin spin-ccw($speed-in-seconds: .35s) {
  animation-duration: $speed-in-seconds;
  animation-name: spin-ccw;
  animation-timing-function: ease-in;
  will-change: transform;
}

.spin-ccw {
  @include spin-ccw();
}
