////
/// Imported Fonts
/// @group fonts
/// @author Mark Scripter - mscripter@horizontalintegration.com

/// Sans Serif - Regular
@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway-Regular.ttf') format('opentype');
}

@font-face {
  font-family: RalewayBlack;
  src: url('fonts/Raleway-Black.ttf') format('opentype');
}

@font-face {
  font-family: RalewayBlack;
  src: url('fonts/Raleway-BlackItalic.ttf') format('opentype');
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway-Bold.ttf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway-BoldItalic.ttf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway-ExtraBold.ttf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway-ExtraBoldItalic.ttf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway-ExtraLight.ttf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway-ExtraLightItalic.ttf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway-Italic.ttf') format('opentype');
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway-Light.ttf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway-LightItalic.ttf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: RalewayMedium;
  src: url('fonts/Raleway-Medium.ttf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: RalewayMedium;
  src: url('fonts/Raleway-MediumItalic.ttf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway-Regular.ttf') format('opentype');
}

@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway-SemiBold.ttf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway-SemiBoldItalic.ttf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: RalewayThin;
  src: url('fonts/Raleway-Thin.ttf') format('opentype');
}

@font-face {
  font-family: RalewayThin;
  src: url('fonts/Raleway-ThinItalic.ttf') format('opentype');
  font-style: italic;
}







/// Serif - Regular
@font-face {
  font-family: Noto;
  src: url('fonts/NotoSerif-Regular.ttf') format('opentype');
}

/// Serif - Bold
@font-face {
  font-family: Noto;
  src: url('fonts/NotoSerif-Bold.ttf') format('opentype');
  font-weight: 700;
}

/// Serif - Italic
@font-face {
  font-family: Noto;
  src: url('fonts/NotoSerif-Italic.ttf') format('opentype');
  font-style: italic;
}

/// Serif - Bold, Italic
@font-face {
  font-family: Noto;
  src: url('fonts/NotoSerif-BoldItalic.ttf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/// Monospace - Regular
@font-face {
  font-family: AnonymousPro;
  src: url('fonts/AnonymousPro-Regular.ttf') format('opentype');
}

/// Monospace - Bold
@font-face {
  font-family: AnonymousPro;
  src: url('fonts/AnonymousPro-Bold.ttf') format('opentype');
  font-weight: 700;
}

/// Monospace - Italic
@font-face {
  font-family: AnonymousPro;
  src: url('fonts/AnonymousPro-Italic.ttf') format('opentype');
  font-style: italic;
}


/// Monospace - Bold, Italic
@font-face {
  font-family: AnonymousPro;
  src: url('fonts/AnonymousPro-BoldItalic.ttf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
