////
/// Heading Elements
/// @group headings
/// @author Mark Scripter - mscripter@horizontalintegration.com

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: $sans-serif;
  line-height: 1.5em;
  padding: 0;
  vertical-align: middle;
}

h1,
.heading-one {
  font-size: ceil($font-size * 2.25); // 36px / 16px = 2.25
  line-height: 40px;
  font-family: RalewayBlack;

  @include media(sm) {
    font-size: ceil($font-size * 3.75); // 60px / 16px = 3.75
    line-height: 70px;
  }
}

h2,
.heading-two {
  font-size: ceil($font-size * 1.5); // 24px / 16px = 1.5
  line-height: 28px;
  font-family: RalewayBlack;

  @include media(sm) {
    font-size: ceil($font-size * 3); // 48px / 16px = 3
    line-height: 54px;
  }
}

h3,
.heading-three {
  font-size: ceil($font-size * 1.125); // 18px / 16px = 1.125
  line-height: 22px;
  font-family: RalewayMedium;

  @include media(sm) {
    font-size: ceil($font-size * 1.5); // 24px / 16px = 1.5
    line-height: 30px;
  }
}

h4,
.heading-four {
  font-size: ceil($font-size * 1.125); // 18px / 16px = 1.125
  line-height: 22px;

  @include media(sm) {
    font-size: ceil($font-size * 1.5); // 24px / 16px = 1.5
    line-height: 30px;
  }
}

h5,
.heading-five {
  font-size: $font-size;
}

h6,
.heading-six {
  font-size: $font-size;
}

hgroup {
  margin: 0;
  padding: 0;
}
