////
/// Media Elements
/// @group media
/// @author Mark Scripter - mscripter@horizontalintegration.com

// unstyled elements
area {}
audio {}
figcaption {}
map {}
track {}
video {}

// styled elements
figure {
  position: relative;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
