////
/// Table Elements
/// @group table
/// @author Mark Scripter - mscripter@horizontalintegration.com

caption {}

col {}

colgroup {}

table {
  border: 1px solid $black;
  box-sizing: border-box;
  width: 100%;
}

.table-striped {
  tr:nth-child(odd){
    background-color: $gray-lighter;
  }
}

tbody {}

td {
  border: 1px solid $grey;
  box-sizing: border-box;
  padding: $padding-vertical--small $padding-horizontal--small;
  text-align: left;
}

tfoot {}

th {
  border: 1px solid $black;
  box-sizing: border-box;
  background-color: $light-grey;
  color: $black;
  padding: $padding-vertical--small $padding-horizontal--small;
  text-align: left;
}

thead {}

tr {}
