////
/// Text Elements
/// @group text
/// @author Mark Scripter - mscripter@horizontalintegration.com

a {
  color: $pink;
  text-decoration: underline;

  &:hover {
    color: darken($pink, 25%);
  }

  &:active,
  &:focus {
    color: lighten($pink, 25%);
  }
}

abbr {}
cite {}
code {
  background-color: $light-grey;
  border: 1px solid $black;
  border-radius: 3px;
  box-sizing: border-box;
  color: $black;
  display: block;
  margin-top: $margin-vertical--small;
  padding: 3px 5px;
}
data {}
dd {}
dfn {}
div {}
dl {}
dt {}
em {}
hr {}
i {}
kbd {
  background-color: $light-grey;
  border-radius: 3px;
  box-sizing: border-box;
  color: $black;
  padding: 2px 4px;

  &:before {
    content: "\203A";
    display: inline;
    margin-right: 5px;
  }
}
main {}
mark {}
p {
  margin: $margin-vertical--small 0px;
}
pre {}
q {}
rt {}
span {}
sup {}
time {}
