////
/// Color variables & definitions.
/// @group Colors
/// @author Mark Scripter - mscripter@horizontalintegration.com

/// White
/// @type Color
$white: #fff;

.white {
  color: $white;
}

.bkgd-white {
  background-color: $white;
}

/// Black
/// @type Color
$black: #000;

.black {
  color: $black;
}

.bkgd-black {
  background-color: $black;
}

// Grey
/// @type Color
$grey: #575757;

.grey {
  color: $grey;
}

.bkgd-grey {
  background-color: $grey;
}

// Light Grey
/// @type Color
$light-grey: #e4e4e4;

.light-grey {
  color: $light-grey;
}

.bkgd-light-grey {
  background-color: $light-grey;
}


$blue: #0598B2;
.blue {
  color: $blue;
}
.bkgd-blue {
  background-color: $blue;
}

$pink: #d51167;
.pink {
  color: $pink;
}
.bkgd-pink {
  background-color: $pink;
}
