////
/// Typography variables & definitions.
/// @group Typography
/// @author Mark Scripter - mscripter@horizontalintegration.com

/// @type List
$serif:            Noto, Georgia, "Times New Roman", Times, serif;

.serif {
  font-family: $serif;
}

/// @type List
$sans-serif:       Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;

.sans-serif {
  font-family: $sans-serif;
}

/// @type List
$monospace:        AnonymousPro, "Courier New", Courier, monospace;

.monospace {
  font-family: $monospace;
}

/// @type String
$font-size:        16px;
