mixin menu(data)
  if data
    .menu(data-module="menu" data-settings='')
      .trigger
        svg.menu-icon
          rect.top(y="0" x="0")
          rect.middle(y="10" x="0")
          rect.bottom(y="20" x="0")
      .menu-wrapper
        .menu-overflow
          nav.menu-list
            ul.list
              each item in data
                li(class=(item.children ? 'has-children' : ''))
                  if item.link
                    a(href="#{item.link.href}" target=(item.link.target ? item.link.target : '_self'))
                      if item.icon && item.icon.type === "svg"
                        svg.icon(class="icon-#{item.icon.id}")
                          use(xlink:href="##{item.icon.id}")
                        | #{item.text}
                      if item.children
                        .icon-arrow
                          i.fa.fa-arrow-right
                  else
                    #{item.text}
                  if item.children
                    ul.list
                      each child in item.children
                        li(class=(child.children ? 'has-children' : ''))
                          if child.link
                            a(href="#{child.link.href}" target=(child.link.target ? child.link.target : '_self'))
                              if child.icon && child.icon.type === "svg"
                                svg.icon(class="icon-#{child.icon.id}")
                                  use(xlink:href="##{child.icon.id}")
                                | #{child.text}
                              if child.children
                                .icon-arrow
                                  i.fa.fa-arrow-right
