.menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  &.active {
    height: 100vh;

    nav {
      display: block;
    }

    .menu-wrapper{
      transform: translateX(0);
      overflow: scroll;
    }

    .trigger {
      i {
        color: $white;
      }
    }
  }
}

.menu-wrapper {
  height: 100vh;
  background-color: $pink;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.35s ease-in-out;
  width: 100vw;
  will-change: transform;
}

.menu-overflow {
  height: calc(100vh - 70px); // 70px is the height of the header
  margin-top: 70px; // 70px is the height of the header
  overflow:scroll;
}

.menu-list {
  box-sizing: border-box;
  z-index: 10;

  & > .list {

    li {
      background: linear-gradient(darken($pink, 5%), $pink);
    }

    a {
      color: $white;
      display: inline-block;
      font-size: 20px;
      padding: 30px 0px;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      vertical-align: middle;
      width: 100%;

      .icon {
        display: inline-block;
        height: 45px;
        margin-left: $margin-horizontal;
        margin-right: $margin-horizontal;
        vertical-align: middle;
        width: 45px;
      }
    }
  }

  .has-children {
    position: relative;

    .icon-arrow {
      color: $white;
      cursor: pointer;
      padding: 15px;
      position:absolute;
      right: $margin-horizontal;
      top: 50%;
      transform: translateY(-50%);
    }

    a {
      display: block;
    }

    .list {
      display: none;
    }
  }
}

.menu-icon {
  width: 30px;
  height: 25px;
  display: inline-block;
  overflow: visible !important;

  rect {
    fill: $black;
    border-radius: 3px;
    height: 5px;
    width: 100%;
    display: block;
    margin: 5px 0px;
  }
}

.trigger {
  position: absolute;
  left: 15px;
  top: 20px;
  z-index: 100;
}
