//-
//- @component: List
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin list(data)
  if data
    ul.list
      each item in data
        li(class=(item.children ? 'has-children' : ''))
          if item.link
            a(href="#{item.link.href}" target=(item.link.target ? item.link.target : '_self')) #{item.text}
          else
            #{item.text}
          if item.children
            +list(item.children)
