//-
//- @component: Animations
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin animations()
  section.item
    h3.heading(id="animations") Animations
    
    h4 Fade Animations
    
    span.run-animations Run Animations
    .line-item
      .content
        .card(data-animation="fade-in" style="opacity: 0;")
          p This card will fade in.
      code.code-name .fade-in
      button.run-animation Run
      
    .line-item
      .content
        .card(data-animation="fade-out")
          p This card will fade out.
      code.code-name .fade-out
      button.run-animation Run
      
    h4 Hinge Animations
    
    .line-item
      .content
        .card(data-animation="hinge-top")
          p This card will will come down from the top.
      code.code-name .hinge-top
      button.run-animation Run
      
    .line-item
      .content
        .card(data-animation="hinge-bottom")
          p This card will will come down from the bottom.
      code.code-name .hinge-bottom
      button.run-animation Run
      
    .line-item
      .content
        .card(data-animation="hinge-right")
          p This card will come in from the right..
      code.code-name .hinge-right
      button.run-animation Run
      
    .line-item
      .content
        .card(data-animation="hinge-left")
          p This card will come in from the left.
      code.code-name .hinge-left
      button.run-animation Run
      
    .line-item
      .content
        .card(data-animation="hinge-middle-bottom")
          p This card will twist from the bottom.
      code.code-name .hinge-middle-bottom
      button.run-animation Run
      
    .line-item
      .content
        .card(data-animation="hinge-middle-top")
          p This card will twist from the top.
      code.code-name .hinge-middle-top
      button.run-animation Run
      
    .line-item
      .content
        .card(data-animation="hinge-middle-left")
          p This card will twist from the left
      code.code-name .hinge-middle-left
      button.run-animation Run
      
    .line-item
      .content
        .card(data-animation="hinge-middle-right")
          p This card will twist from the right.
      code.code-name .hinge-middle-right
      button.run-animation Run
      
    h4 Level Animations
    
    .line-item
      .content
        .card(data-animation="level-up")
          p This card will level up.
      code.code-name .level-up
      button.run-animation Run
      
    .line-item
      .content
        .card.level-5(data-animation="level-down")
          p This card will level down.
      code.code-name .level-down
      button.run-animation Run
      
    h4 Shake Animations
    
    .line-item
      .content
        .card(data-animation="shake")
          p This card will shake.
      code.code-name .shake
      button.run-animation Run
      
    h4 Spin Animations
    
    .line-item
      .content
        .card(data-animation="spin-cw")
          p This card will spin clockwise.
      code.code-name .spin-cw
      button.run-animation Run
      
    .line-item
      .content
        .card(data-animation="spin-ccw")
          p This card will spin counter clockwise.
      code.code-name .spin-ccw
      button.run-animation Run

  script.
    var animTrigger = document.querySelector('.run-animations');
    animTrigger.addEventListener('click', function(event) {
      event.preventDefault();

      R.forEach(function(elem){
        var anim = elem.getAttribute('data-animation');
        anim ? elem.classList.add(anim) : 0;

        window.setTimeout(function(){
          elem.classList.remove(anim);
        }.bind(elem, anim), 1000);
      }, document.querySelectorAll('[data-animation]'));
    });

    window.onload = function(){
      R.forEach(function(elem){
        elem.addEventListener('click', function(event) {
          event.preventDefault();
          var anim = $(event.target).siblings('.content').children().data('animation');
          $(event.target).siblings('.content').children('.card').addClass(anim);

          window.setTimeout(function(){
            $(event.target).siblings('.content').children('.card').removeClass(anim);
          }.bind(event.target, anim), 1000);
        });
      }, document.querySelectorAll('.run-animation'));
    };
