include ../../../../components/media/media.jade

mixin images(data)
  section.item
    h2.heading(id="images") Images
    p.section-description These are our image components. See below for variations
    .line-item
      .content
        h3.heading.heading-three Image
        +media(imageComponent)
        p.details The image component should be used <insert reason>.
    .line-item
      .content
        h3.heading.heading-three Image w/ Blurb
        +media(imageWithBlurb)
        p.details The image w/ blurb component should be used <insert reason>.
