@import 'main';

header {
  border-bottom: 1px solid $grey;
  position: relative;
}

.branding {
  margin-left: 40px;
  width: calc(100% - 40px);
  .logo {
    box-sizing: border-box;
    display: inline-block;
    margin-right: $margin-horizontal--small;
    max-height: 70px;
    max-width: 100px;
    vertical-align: middle;
    width: calc(22% - #{$margin-horizontal});
  }
  .title {
    box-sizing: border-box;
    color: #575757;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    margin-left: $margin-horizontal;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    width: calc(75% - #{$margin-horizontal});
  }
}

.component {
  margin: $margin-vertical--large 0;

  .title {
    color: $blue;
  }
}

.color {
  display: block;
  margin: $margin-vertical--small 0;
}

.content {
  display: block;
  margin: 0;
  width: 100%;

  @include media(md) {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 80%;
  }

  .heading + * {
    margin-top: 0;
    margin-bottom: $margin-vertical--small;
  }

  .details {
    font-size: 12px;
    color: #333333;
    margin: $margin-vertical--small 0;

    &:first-child {
      margin-bottom: 0;
    }

    &:last-child {
      margin-top: 0;
    }
  }
}

.code-name {
  background-color: $grey;
  border-radius: 5px;
  box-sizing: border-box;
  color: $white;
  display: block;
  margin: $margin-vertical--small 12.5%;
  padding: 10px 15px;
  text-align: center;
  width: 75%;

  @include media(md) {
    display: inline-block;
    margin: $margin-vertical--small 1%;
    vertical-align: top;
    white-space: normal;
    width: 18%;
  }
}

.heading {
  color: $pink;
  width: 100%;
  text-transform: uppercase;
}

.item {
  margin: $margin-vertical 0 $margin-vertical--large;
  padding: 0;
}

.main {
  display: block;
  padding-right: $padding-horizontal--small;
  width: 100%;

  @include media(md) {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 80%;
  }
}

.legal {
  float: right;
}

.line-item {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: $margin-vertical--small;

  p {}

  .run-animation {
    display: block;
    width: 80px;
    margin: $margin-vertical--small 0 $margin-vertical--large;
  }
}

.navigation {
  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    display: inline;
  }

  a {
    color: $grey;
    padding: 0 $padding-horizontal--small;
    text: {
      decoration: none;
      transform: uppercase;
    }

    &:hover {
      text-decoration: underline;
    }

    &:first-child {
      padding-left: 0;
    }
  }
}

.sidebar {
  display: block;
  width: 100%;

  @include media(md) {
    display: inline-block;
    position: fixed;
    right: 0;
    top: 60px;
    vertical-align: top;
    white-space: normal;
    width: 20%;
  }

  h4 {
    text-align: center;
  }

  ul {
    list-style: none;
    margin: $margin-vertical--small 0 0;
    padding: 0;

    li {
      border-left: 1px solid darken(rgba($blue, 0), 15%);
      display: block;
      margin: 5px 0 5px -1px;
      padding: 5px $padding-horizontal;
      transition: border .5s, color .5s;

      &:hover {
        border-left: 1px solid darken(rgba($blue, 1), 15%);

        & > a {
          color: darken($blue, 10%);
        }
      }

      &.active {
        // border-left: 1px solid darken($primary, 25%);
        color: darken($blue, 25%);
        margin-left: -1px;

        &:hover {
          color: darken($blue, 10%);
        }

        & > a {
          border-left: 1px solid darken($blue, 25%);
          color: darken($blue, 25%);
          margin-left: -8px;
          padding-left: 8px;

          &:hover {
            color: darken($blue, 10%);
          }
        }
      }

      a {
        box-sizing: border-box;
        display: block;
        font-size: $font-size;
        text-decoration: none;
      }

      ul {
        margin-top: 10px;

        li {
          border-left: 0;
          margin: 0;
          padding-bottom: 0;
          padding-top: 0;

          &:hover {
            border-left: 0;
            margin-left: 0;
          }

          a {
            color: darken($blue, 25%);
            font-size: ceil($font-size * .75);
          }
        }
      }
    }
  }
}

.swatch {
  box-sizing:border-box;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  height: 44px;
  margin: 10px 0;
  position: absolute;
  right: 5%;
  width: 44px;

  @include media(xs) {
    position: static;
  }

  @include media(sm) {
    display: inline-block;
    margin: 0 15px 0 0;
    vertical-align: top;
  }

  & + p {
    line-height: 44px;
    margin: 0;

    @include media(xs) {
      display: inline-block;
      vertical-align: middle;
    }

    &.white,
    &.accent {
      background-color: $black;
    }
  }
}

.title {
  color: $blue;
  margin: $margin-vertical 0;
  text-transform: uppercase;
}
