//-
//- @page: Styleguide
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/styleguide.jade

include design/index.jade
include ui-components/index.jade
include widgets/index.jade

append content
    article.container
      section.main
        section.sections
          +design()
          +ui-components()
          +widgets()
