//-
//- @component: Media
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin media(data)
  .media
    if data.type === "image"
      img(src="#{data.src}" alt="#{data.alt}" title="#{data.title}")
      if data.blurb
        .blurb
          p #{data.blurb}
