.media {
  width: 100%;
  position: relative;

  img {
    width: 100%;
  }

  .blurb {
    position: absolute;
    bottom: 40px;
    background: $blue;
    width: 100%;
    text-align: center;

    p {
      text-transform: uppercase;
      color: $white;
    }
  }
}
