//-
//- @page: Design Components
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
include components/code.jade
include components/colors.jade
include components/icons.jade
include components/levels.jade
include components/margin.jade
include components/padding.jade
include components/paragraphs.jade
include components/typography.jade

mixin design()
  section.component
    +typography()
    +code()
    +colors()
    +icons()
    +levels()
    +margin()
    +padding()
    +paragraphs()
