//-
//- @component: Colors
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin colors()
  section.item
    h3.heading(id="colors") Colors
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-white(title="$white")
          p.white(title="$white") This is what the text looks like with this color.
      code.code-name $white
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-black(title="$black")
          p.black(title="$black") This is what the text looks like with this color.
      code.code-name $black
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-grey(title="$grey")
          p.gray(title="$grey") This is what the text looks like with this color.
      code.code-name $grey
    
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-light-grey(title="$light-grey")
          p.gray(title="$light-grey") This is what the text looks like with this color.
      code.code-name $light-grey
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-blue(title="$blue")
          p.gray(title="$blue") This is what the text looks like with this color.
      code.code-name $blue
