//-
//- @component: Typography
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin typography()
  section.item
    h2.heading(id="typography") Typography
    p.section-description Some fake text. Yeah, thats right, fake text. What are you going to do about it?
    .line-item
      .content
        h3.heading.heading-three H1
        h1.heading-one Raleway Black
        p.details desktop - 60px | mobile - 36px <br />line height - 70px | mobile - 40px
    .line-item
      .content
        h3.heading.heading-three h2
        h2.heading-two Raleway
        p.details desktop - 48px | mobile - 24px <br />line-height - 70px | mobile - 40px
    .line-item
      .content
        h3.heading.heading-three h3
        h3.heading-three Raleway
        p.details desktop - 24px | mobile - 18px <br />line-height - 30px | mobile - 22px
    .line-item
      .content
        h3.heading.heading-three h4
        h4.heading-four Raleway
        p.details desktop - 24px | mobile - 18px <br />line-height - 30px | mobile - 22px
    .line-item
      .content
        h3.heading.heading-three h5
        h5.heading-five Raleway
        p.details desktop - 16px | mobile - 16px <br />line-height - 20px | mobile - 20px
    .line-item
      .content
        h3.heading.heading-three h6
        h6.heading-six Raleway
        p.details desktop - 16px | mobile - 16px <br />line-height - 20px | mobile - 20px
    .line-item
      .content
        h3.heading.heading-three BODY COPY
        p The rabbit-hole went straight on like a tunnel for some way, and then dipped suddenly down, so suddenly that Alice had not a moment to think about stopping herself before she found herself falling down a very deep well.
        p.details desktop - 16px | mobile - 16px <br />line height - 24px | mobile - 22px
    .line-item
      .content
        h3.heading.heading-three LINKS
        p Why is a raven like a writing-desk?
        p
          a(href="#") LEAD MORE
        p.details desktop - 18px | mobile - 16px <br />line height - 24px | mobile - 18px
    
